<%- include('./base/header.ejs')%>
<div class="container">
    <div class="alert bg-success my-3">
        <h4 class="text-center text-white">Add New Student</h4>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form action="/add/student" method="post">
            <div class="mt-1">
                <label class="form-label">Roll NO</label>
                <input type="text",  class="form-control", placeholder="Enter Roll No" name="rollno" require="true">
            </div>
            <div class="mt-1">
                <label class="form-label">Name</label>
                <input type="text" , class="form-control" , placeholder="Enter Name" name="studentName">
            </div>
            <div class="mt-1">
                <label class="form-label">Father Name</label>
                <input type="text" , class="form-control" , placeholder="Enter Father Name" name="fatherName">
            </div>
            <div class="mt-1">
                <label class="form-label">Adhar Card No</label>
                <input type="text" , class="form-control" , placeholder="Enter Adhar Card No" name="adharCardNo">
            </div>
            <div class="mt-1">
                <label class="form-label">Mobile No</label>
                <input type="text" , class="form-control" , placeholder="Enter Mobile No" name="mobileNo">
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-success mt-2" value="Add Student">
            </div>
            </form>
        </div>
        <div class="col"></div>
    </div>

</div>

<%- include('./base/footer.ejs')%>