<%- include('./base/header.ejs')%>
<div class="container">
    <div class="row mt-1">
        <h2 class="text-center text-danger">List of Students</h2>
    </div>
</div>
<%- include('./base/footer.ejs')%>